@{
    Layout = "_LayoutPesquisa";
}

@section breadCrumb {
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Empresa</li>
                <li class="active">Localização</li>
            </ul>
        </div>
    </div>
}
<script>

    $(document).ready(function () {
       
    });
</script>
<div>
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="section-title">
                    <h3 class="title">Localização</h3>
                </div>
                <p>
                    Endereço: Rua Madeira  61<br />
                    Bairro : Vila Vivaldi<br />
                    Cidade : São Bernardo do Campo - SP<br />
                    CEP : 09615-030<br />
                    <br />
                    Horário de funcionamento : <br />Segunda à sexta - 8:00 às 18:00
                </p>


            </div>
            <div class="col-md-8">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.290404052543!2d-46.55865798449181!3d-23.66557057133514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4302ef23d67f%3A0x3e2236d50ce82e2!2sR.%20Madeira%2C%2061%20-%20Vila%20Vivaldi%2C%20S%C3%A3o%20Bernardo%20do%20Campo%20-%20SP%2C%2009615-030!5e0!3m2!1sen!2sbr!4v1663638308584!5m2!1sen!2sbr" width="700" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>