@{
    Layout = "_LayoutPesquisa";
}

@section breadCrumb {
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Empresa</li>
                <li class="active">Missão e Valores</li>
            </ul>
        </div>
    </div>
}
<script>

    $(document).ready(function () {

    });
</script>
<div>
    <!-- container -->
    <div class="container">
        <div class="row">

            <div class="col-md-7">
                <div class="section-title">
                    <h3 class="title">Missão, Visão e Valores</h3>
                </div>
                <p>
                    <h4>Missão:</h4>
                    Nossa missão na Desencalha Baby é oferecer uma plataforma confiável e conveniente para pais e mães comprarem e venderem itens infantis de qualidade. Acreditamos que cada produto pode encontrar um novo lar e continuar a ser útil, ao mesmo tempo em que promovemos um estilo de vida sustentável, ajudando os pais a economizarem e a desapegarem com facilidade.

                </p>
                <p>
                    <h4>Visão:</h4>
                    Nossa visão é ser a principal referência no mercado de compra e venda de itens infantis, proporcionando uma experiência única e positiva para nossos usuários. Desejamos ser reconhecidos como uma comunidade colaborativa, conectando pais de todo o mundo e facilitando a transição dos produtos entre as famílias.

                </p>
                <p>
                    <h4>Valores:</h4>
                        <b>Sustentabilidade:</b> Estamos comprometidos em promover a sustentabilidade, incentivando a reutilização de produtos e reduzindo o desperdício no universo dos itens infantis. Valorizamos a conservação do meio ambiente para as futuras gerações.
                    <br /><br />
                        <b>Confiança:</b> Construímos nossa plataforma com base na transparência e na confiança. Nosso objetivo é oferecer um ambiente seguro para que os pais possam comprar e vender seus produtos com tranquilidade, sabendo que estão lidando com pessoas confiáveis.
                    <br /><br />
                        <b>Comunidade:</b> Acreditamos na força da comunidade e no poder da conexão entre pais. Incentivamos a interação e o compartilhamento de experiências em nossa plataforma, criando uma comunidade colaborativa onde os pais podem se apoiar mutuamente.
                    <br /><br />
                         <b>Qualidade:</b> Buscamos a excelência em tudo o que fazemos. Valorizamos a qualidade dos produtos oferecidos em nossa plataforma, garantindo que os pais possam adquirir itens infantis seguros e duráveis para seus filhos.
                    <br /><br />
                        <b>Facilidade:</b> Priorizamos a facilidade de uso e a conveniência em nossa plataforma. Queremos tornar o processo de compra e venda o mais simples possível, para que os pais possam desfrutar de uma experiência fluida e eficiente.
                    <br /><br />
                </p>
                <p>
                    Na Desencalha Baby, estamos comprometidos em oferecer uma solução inovadora para pais e mães, apoiando-os em suas jornadas de parentalidade e proporcionando um ambiente sustentável. Junte-se a nós e faça parte de uma comunidade que valoriza o desapego, a economia e a conexão entre famílias.
                </p>


            </div>
            <div class="col-md-5">
                <img src="~/img/missao-valores-visao.png" class="img-responsive" />
            </div>
        </div>
    </div>
</div>