@{
    Layout = "_LayoutPesquisa";
}

@section breadCrumb {
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Empresa</li>
                <li class="active">Missão e Valores</li>
            </ul>
        </div>
    </div>
}
<script>

    $(document).ready(function () {

    });
</script>
<div>
    <!-- container -->
    <div class="container">
        <div class="row">

            <div class="col-md-7">
                <div class="section-title">
                    <h3 class="title">Missão, Visão e Valores</h3>
                </div>
                <p>
                    <strong>Missão:</strong><br />
                    Gerar valor às pessoas, tendo em vista sempre o bem estar pessoal.  

                </p>
                <p>
                    <strong>Visão:</strong><br />
                    Ampliar e liderar o ramo de atuação nos campos da beleza, lidando sempre com excelência com nossos parceiros e consumidores.  

                </p>
                <p>
                    <strong>Valores:</strong><br />
                    Qualidade no atendimento, produtos e serviços oferecidos<br />
                    Ética e transparência no relacionamento com clientes, fornecedores e funcionários<br />
                    Responsabilidade e respeito com o meio ambiente e a sociedade<br />
                    Melhoria contínua e inovação nos processos e procedimentos<br />
                    Sustentabilidade e empreendedorismo como base da cultura e do crescimento da empresa.

                </p>


            </div>
            <div class="col-md-5">
                <img src="~/img/missao-valores-visao.png" class="img-responsive" />
            </div>
        </div>
    </div>
</div>