@{
    Layout = "_LayoutPesquisa";
}

@section breadCrumb {
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Empresa</li>
                <li class="active">Quem Somos</li>
            </ul>
        </div>
    </div>
}
<script>

    $(document).ready(function () {
       
    });
</script>
<div>
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="section-title">
                    <h3 class="title">quem somos</h3>
                </div>
                <p>
                    Fundada em 2023, somos uma empresa apaixonada por facilitar a vida dos pais e mães, oferecendo uma solução prática e sustentável para lidar com os itens que seus bebês já não usam mais. Nosso objetivo é criar uma comunidade colaborativa onde os pais possam vender e comprar produtos infantis de qualidade, de forma conveniente e econômica.
                </p>
                <p>
                    Acreditamos que os itens que estiveram presentes nos primeiros momentos dos bebês têm um valor especial, e é por isso que nos esforçamos para oferecer um ambiente seguro e confiável, onde esses itens possam encontrar novos lares e continuar sendo úteis.
                </p>
                <p>
                    No Desencalha Baby, você encontrará uma ampla variedade de produtos, desde roupinhas fofas até carrinhos de bebê, brinquedos educativos, cadeirinhas de carro e muito mais. Nossa plataforma intuitiva e fácil de usar permite que você navegue pelos anúncios, entre em contato com outros pais e realize suas transações de maneira segura.

                </p>
                <p>
                    Além de ajudar os pais a desapegarem dos itens que já não são mais necessários, também estamos comprometidos com a sustentabilidade. Ao promover a reutilização dos produtos, estamos reduzindo o impacto ambiental e contribuindo para um mundo mais consciente.

                </p>
                <p>
                    Acreditamos na importância da comunidade e no apoio mútuo entre pais. Por isso, incentivamos a interação e a troca de experiências em nosso fórum, onde você pode compartilhar dicas, fazer perguntas e encontrar suporte em sua jornada como pai ou mãe.
                </p>
                <p>
                    Estamos entusiasmados em fazer parte da sua jornada de parentalidade e ajudá-lo(a) a encontrar soluções práticas para as necessidades do seu bebê. Junte-se a nós no Desencalha Baby e faça parte de uma comunidade que valoriza o desapego, a economia e a sustentabilidade.
                </p>
                <p>
                    Desencalha Baby - Seu destino para comprar e vender produtos infantis de forma inteligente e consciente. Juntos, construiremos uma experiência única para os pais e uma infância cheia de histórias felizes para os nossos pequenos.
                </p>

            </div>
            <div class="col-md-5">
                <img src="~/img/desencalha/quem-somos.png" class="img-responsive" />
            </div>
        </div>
    </div>
</div>