@{
    Layout = "_LayoutPesquisa";
}

@section breadCrumb {
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Empresa</li>
                <li class="active">Quem Somos</li>
            </ul>
        </div>
    </div>
}
<script>

    $(document).ready(function () {
       
    });
</script>
<div>
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="section-title">
                    <h3 class="title">quem somos</h3>
                </div>
                <p>
                    A empresa Desencalha Estoque foi criada em 2022 por André Savoia, Wagner Ferreira Barbosa e Rodrigo Bressanin em São Bernardo do Campo - SP
                </p>
                <p>
                    Aos poucos foi abrindo sua carteira de clientes no estado de São Paulo e em outros estados, como Minas Gerais, Paraná e Santa Catarina. Assim começou um linda jornada sem previsão de chegar ao fim.
                </p>
                <p>
                    Trabalhando com produtos populares, com alta qualidade e preços imbatíveis, atingimos a todos os segmentos da sociedade.

                </p>
                <p>
                    Os produtos da Desencalha Estoque são trabalhados com carinho até chegarem aos consumidores finais, homens e mulheres. Realçando sempre a beleza de que quem os usa.

                </p>
                <p>
                    Encontre nossos produtos em perfumarias de sua cidade.  

                </p>


            </div>
            <div class="col-md-5">
                <img src="~/img/desencalha/quem-somos.png" class="img-responsive" />
            </div>
        </div>
    </div>
</div>