@{
    Layout = "_LayoutPesquisa";
}

@section breadCrumb {
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Empresa</li>
                <li class="active">Troca e Devolução</li>
            </ul>
        </div>
    </div>
}
<script>

    $(document).ready(function () {
       
    });
</script>

<div>
    <!-- container -->
    <div class="container">
        <div class="row">

            <div class="col-md-7">
                <div class="section-title">
                    <h3 class="title">Troca e Devolução</h3>
                </div>
                <p>
                    A empresa se responsabiliza por qualquer dano do produto desde a sua saída até a sua chegada no seu ponto de destino, bem como qualquer defeito de fábrica. 
                    
                </p>
                <p>
    Produtos que estejam com validade vencida, retirar de comercialização e reservar em seu estoque, nos informando o item e quantidade. Troca feita de imediato no próximo pedido.
</p>
                <p>
                    Todas as trocas devem ser reservadas para que possamos retirar o mesmo pelo outro. Caso o item tenha saído fora de linha, reembolsaremos ou abatiremos em boleto.

                </p>


            </div>
            <div class="col-md-5">
                <img src="~/img/troca e devolucao.png" class="img-responsive" />
            </div>
        </div>
    </div>
</div>