@{
    Layout = "_Layout";
}

@section breadCrumb {
    @RenderSection("breadCrumb", required: false)
}
<script>
    $(document).ready(function () {
        //$("#divNavigationPrincipal").addClass("show-on-click");
    });

</script>
<!-- section -->
<div class="section2">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            @RenderBody()
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->